table {
    text-align: center;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    text-align: center;
}

.matriz {
    width: fit-content;
    margin: 2rem;
    padding-bottom: 25px;
}